---
import { SOCIAL_LINKS } from "@/data/constants";

// *** SVG icons from https://tablericons.com/ ***
---

<div class="flex flex-wrap items-center gap-x-4 sm:items-center">
	<p>Find me on</p>
	<ul class="flex flex-1 items-center gap-x-4 sm:flex-initial">
		<li>
			<a
				class="inline-block p-2 sm:hover:text-link"
				href={SOCIAL_LINKS.linkedin}
				target="_blank"
				rel="noopener noreferrer"
			>
				<svg
					class="h-6 w-6"
					aria-hidden="true"
					focusable="false"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					fill="none"
					stroke-linecap="round"
					stroke-linejoin="round"
				>
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
					<path
						d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
					></path>
					<path d="M8 11l0 5"></path>
					<path d="M8 8l0 .01"></path>
					<path d="M12 16l0 -5"></path>
					<path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
				</svg>
				<span class="sr-only">LinkedIn</span>
			</a>
		</li>

		<li>
			<a
				class="inline-block p-2 sm:hover:text-link"
				href={SOCIAL_LINKS.instagram}
				target="_blank"
				rel="noopener noreferrer"
			>
				<svg
					class="h-6 w-6"
					aria-hidden="true"
					focusable="false"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					fill="none"
					stroke-linecap="round"
					stroke-linejoin="round"
				>
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
					<path
						d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
					></path>
					<path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
					<path d="M16.5 7.5l0 .01"></path>
				</svg>
				<span class="sr-only">Instagram</span>
			</a>
		</li>

		<li>
			<a
				class="inline-block p-2 sm:hover:text-link"
				href={SOCIAL_LINKS.merit}
				target="_blank"
				rel="noopener noreferrer"
			>
				<svg
					class="h-6 w-6"
					aria-hidden="true"
					focusable="false"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					fill="none"
					stroke-linecap="round"
					stroke-linejoin="round"
				>
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
					<path
						d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"
					></path>
					<path d="M16 3v4"></path>
					<path d="M8 3v4"></path>
					<path d="M4 11h16"></path>
					<path d="M11 15h1"></path>
					<path d="M12 15v3"></path>
				</svg>
				<span class="sr-only">Merit</span>
			</a>
		</li>

		<li>
			<a
				class="inline-block p-2 sm:hover:text-link"
				href={SOCIAL_LINKS.goodreads}
				target="_blank"
				rel="noopener noreferrer"
			>
				<svg
					class="h-6 w-6"
					aria-hidden="true"
					focusable="false"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					fill="none"
					stroke-linecap="round"
					stroke-linejoin="round"
				>
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
					<path
						d="M5 4m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"
					></path>
					<path
						d="M9 4m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"
					></path>
					<path d="M5 8h4"></path>
					<path d="M9 16h4"></path>
					<path
						d="M13.803 4.56l2.184 -.53c.562 -.135 1.133 .19 1.282 .732l3.695 13.418a1.02 1.02 0 0 1 -.634 1.219l-.133 .041l-2.184 .53c-.562 .135 -1.133 -.19 -1.282 -.732l-3.695 -13.418a1.02 1.02 0 0 1 .634 -1.219l.133 -.041z"
					></path>
					<path d="M14 9l4 -1"></path>
					<path d="M16 16l3.923 -.98"></path>
				</svg>
				<span class="sr-only">Goodreads</span>
			</a>
		</li>

		<li>
			<a
				class="inline-block p-2 sm:hover:text-link"
				href={SOCIAL_LINKS.depop}
				target="_blank"
				rel="noopener noreferrer"
			>
				<!--
					tags: [shape, alphabet, sign, latin]
					category: Letters
					unicode: "f5b1"
					version: "1.111"
					-->
				<svg
					class="h-6 w-6"
					aria-hidden="true"
					focusable="false"
					xmlns="http://www.w3.org/2000/svg"
					width="32"
					height="32"
					viewBox="0 0 24 24"
					fill="none"
					stroke="currentColor"
					stroke-width="1.5"
					stroke-linecap="round"
					stroke-linejoin="round"
				>
					<path d="M10 8v8h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-2z"
					></path>
					<path
						d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"
					></path>
				</svg>

				<span class="sr-only">Depop</span>
			</a>
		</li>
	</ul>
</div>
